*

!.gitignore
!.envrc
!flake.lock
!flake.nix
!pyproject.toml
!uv.lock
!LICENSE
!README.md
!mkdocs.yml

!.github/
!.github/workflows/
!.github/workflows/*.yml

!tests/

!docs/
!docs/*.md

!static/
!static/site_example.png

!src/
!src/*.py

!src/mkdocstrings_multirepo
!src/mkdocstrings_multirepo/*.py
